.form-user {
    margin: 20px auto 40px;
}

.form-title {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: #fff;
    border: 2px solid #827ffe;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
    color: #827ffe;
}

.form-check {
    width: 150px;
}

.txt1 {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: #827ffe;
    float: right;
    position: relative;
    top: -40px;
}